.col-md-12 {
   background-color: rgb(224, 224, 224);
   border-radius: 5px;
   border: 1px;
   border-color: #007bff;
}

#img-container {
   background-color: #fff;
   border-radius: 5px;
   border: 2px;
   border-color: #000;
}

.question-desc {
   font-size: 20px;
   text-align: left;
}

.col-12 .question-index {
   color: white;
   display: inline-block;
   margin-right: 1em;
   padding: 5px 20px;
   background-color: #383838;
}

.question .option-correct {
   border: solid 1px darkseagreen;
   border-left: solid 10px darkseagreen;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.question .option-incorrect {
   border: solid 1px lightcoral;
   border-left: solid 10px lightcoral;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
