.view-task-submission {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: left;
}

.view-task-submission > .objective {
   font-size: 25px;
   font-style: italic;
}

/* quiz being a child  */
.view-task-submission > .quizblock {
   height: 300px;
   width: 600px;
   background-color: grey;
   margin-top: 10px;
}

.quizblock > .question {
   background-color: #f6f6ff;
   margin-top: 1em;
   padding: 2em;
}

.question > .question-desc {
   font-size: 20px;
}

.question > .feedback {
   font-size: 15px;
}
