.course-card {
   border: 1px solid gray;
   margin: 12px;
   padding: 12px;
   box-sizing: border-box;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   border-radius: 4px;
   overflow: hidden;
   background: #fff;
   width: 262px;
   display: inline-block;
   vertical-align: top;
   margin: 36px 0 0 36px;
}

.course-card .title {
   font-size: 1.2em;
   color: teal;
   text-overflow: ellipsis;
   display: inline-block;
}

.course-card .course-instructor {
   text-overflow: ellipsis;
}

.course-card .course-desc {
   display: inline-block;
   text-overflow: ellipsis;
}
