.market-course-header {
   margin-left: 18px;
}

.student-market-home {
   background-color: #e3f2fd !important;
   .student-welcome {
      margin-left: 0.6em;
      color: #4274f3;
      display: flex;
      justify-content: left;
      width: 75%;
   }

   .student-listing-header {
      display: flex;
      justify-content: center;
      color: #4274f3;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 0px;
   }

   .line {
      margin-top: 0px;
      border-top: 4px solid #4274f3;
      color: #4274f3;
      width: 90%;
      border-radius: 12px;
   }
}

.student-balance {
   font-size: 5em;
   font-weight: bolder;
}

.account-card-contents {
   margin: 1em;
   .account-card-header {
      font-weight: 600;
      font-size: 25px;
   }
}

.account-card {
   border: 1px solid #4274f3;
   margin: 1.5em;
   box-sizing: border-box;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   border-radius: 12px;
   overflow: auto;
   background: #4274f3;
   min-height: 11em;
   height: auto;
   position: relative;
   color: white;
}

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.listing-card-outer {
   display: inline-block;
   justify-content: center;
   align-content: center;
   text-align: center;
}

.purchase-card {
   border: 1px solid rgb(253, 253, 253);
   margin-left: 8%;
   margin-right: 8%;
   margin-top: 1em;
   margin-bottom: 1em;
   padding: 2%;
   box-sizing: border-box;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   border-radius: 8px;
   overflow: hidden;
   background: rgb(253, 253, 253);
   width: auto;
   height: auto;
   vertical-align: top;
   position: relative;
}

.listing-card {
   border: 1px solid rgb(255, 255, 255);
   margin: 0.5em;
   box-sizing: border-box;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
   border-radius: 8px;
   overflow: auto;
   background: #fff;
   min-height: 218px;
   height: auto;
   min-width: 336px;
   width: auto;
   display: inline-block;
   vertical-align: top;

   position: relative;
}

.listing-card {
   .listing-card-image {
      padding-left: 15px;
      float: left;
      margin: 0px auto;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40;
      height: 40;
      border-radius: 50%;
   }

   .listing-card-header {
      display: block;
      height: 0px;
   }

   .listing-card-body {
      float: right;
      width: 70%;
      padding-top: 10%;
      font-family: sans-serif;
      .listing-title {
         font-size: 1.4em;
         color: black;
         display: inline-flex;
         align-content: center;
         font-weight: 700;
      }
      .listing-points {
         color: rgb(0, 0, 0);
         font-size: 1.8em;
         font-weight: 800;
      }
      .listing-stock {
         margin-top: 0.5em;
         font-size: 1.2em;
         font-weight: 700;
      }
      .listing-card-button {
         color: #2f80ed;
      }
   }
}

.listing-icon {
   margin-left: 10px;
   margin-bottom: 10px;
}
